################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAppTeamA/.vs/WebAppTeamA/FileContentIndex/b056f876-2a54-432e-a3ae-73bd5070752a.vsidx
