################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAppTeamA/.vs/WebAppTeamA/FileContentIndex/b056f876-2a54-432e-a3ae-73bd5070752a.vsidx
/WebAppTeamA/.vs/WebAppTeamA/FileContentIndex/73c181e7-4e37-45dd-a536-c180487ba226.vsidx
/WebAppTeamA/.vs/WebAppTeamA/FileContentIndex/38ebd0a9-fe68-4f02-8cbb-1c8682806d1a.vsidx
/WebAppTeamA/.vs/WebAppTeamA/FileContentIndex/1bd2df7a-e861-4916-a846-9eb904266c03.vsidx
