
@model List<Conference>
@{
    ViewData["Title"] = "Conferences";
}

<h1>@ViewData["Title"]</h1>

@foreach (Conference conf in Model)
{
    <h3>@conf._title</h3>
    <a href="./Conference/Details/@conf._id">Details</a>
}

